.formulario{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5rem 3rem;
}

.formulario form{
    /* width: 30rem; */
    flex: 1;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border-radius: 20px;
    padding: 8px 100px;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}