.OrgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.title{
    color: #6278f7;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: solid 4px #6278f7;
}


@media screen and (max-width: 756px) and (min-width: 0px) {
    .OrgSection{
        width: 80vw;
        justify-content: space-between;
        padding: 0 .5rem;
        gap: 0;
    }
}
